# Create the workspace using the Local GenAI image.
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

PyPDF
pymupdf
pyyaml
tokenizers>=0.13.0
httpx>=0.24.0
mlflow==3.11.0rc1

langchain==0.3.27
langchain-core==1.2.28
langchain-community==0.3.27
langchain-text-splitters>=0.3.9
langchain-huggingface==0.3.1
sentence-transformers==3.0.0
llama-cpp-python==0.3.16
