# Create the workspace using the Local GenAI image.
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

ai-studio-blueprint-kit==0.1.1
mlflow==3.12.0


pypdf==6.14.2
pymupdf
pyyaml
tokenizers>=0.13.0
httpx>=0.24.0

langchain==1.0.4
langchain-core==1.3.3
langchain-community==0.4.1
langchain-classic==1.0.7
langchain-text-splitters==1.1.2
langchain-huggingface==1.2.2
sentence-transformers==3.0.0
llama-cpp-python==0.3.16
