# Create the workspace using the RAPIDS Notebooks image within Z by HP AI Studio.
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

ai-studio-blueprint-kit==0.1.1
mlflow==3.15.1

hvplot==0.12.2
panel==1.8.2
pydeck==0.9.1
