nemo-toolkit==2.4.0
ipython>=8.20
pandas>=2.0
wandb>=0.22
mlflow==2.21.2
optimum>=1.17
onnxruntime>=1.16
huggingface_hub>=0.21
protobuf>=4.25
numpy>=1.26
transformer-engine>=2.2.0.dev0
megatron-core>=0.12.0
