ai-studio-blueprint-kit==0.1.1
mlflow==3.14.0
chromadb
gitpython==3.1.52
pyyaml

langchain==1.3.9
langchain-core==1.3.3
langchain-community==0.4.1
langchain-classic==1.0.7
langchain-text-splitters==1.1.2
langchain-huggingface==1.2.2
sentence-transformers==3.0.0
