# Create the workspace using the Local GenAI image.
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

langgraph==1.0.1
unstructured==0.18.9
tqdm>=4.66.4
pydantic<3
transformers==4.53.2
accelerate==1.6.0
pyttsx3==2.99
torch==2.11.0
torchaudio==2.11.0
torchvision==0.26.0
soundfile==0.13.1
qwen-omni-utils==0.0.9
imageio-ffmpeg==0.6.0
faiss-cpu>=1.8.0
tabulate==0.9.0

langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.27
langchain-text-splitters>=0.3.9
langchain-huggingface==0.3.1
sentence-transformers==3.0.0
mlflow==3.10.1